* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-weight: normal;

  background-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  font-size: 20px;

  color: #fff;

  --border: 1px solid #303436;
  --tile: #262a2b;

  padding: 4px;
}

input {
  background-color: #000;
  color: #fff;
  border: var(--border);
  padding: 4px;
  font-size: 1rem;
  width: 100%;
}

input:focus {
  outline: none;
}

button {
  grid-column-end: span 2;

  background-color: #000;
  color: #fff;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: var(--border);
}

code {
  font-size: 1rem;
}

main {
  display: grid;

  grid-template-rows: 120px 1fr;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-areas:
    'controls status stats'
    'field field field';

  height: 100%;
  width: 100%;

  border: var(--border);
}

#controls {
  grid-area: controls;

  padding: 4px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

#stats {
  grid-area: stats;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding: 4px;

  border-left: var(--border);
}

#stats code {
  display: block;
  width: 100%;
  font-size: 2.5rem;

  font-family: 'Micro 5', sans-serif;
}

#field > div {
  width: var(--size);
  height: var(--size);

  cursor: pointer;
  border: var(--border);
  border-top: 0;
  border-left: 0;

  font-family: 'Micro 5', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#field > div::after {
  content: var(--icon, '');
  display: block;
  width: var(--size);
  height: var(--size);
  font-size: calc(var(--size) * 1.25);
  text-align: center;
  text-transform: uppercase;
  line-height: var(--size);
}

#field > div[data-s='0'],
#field > div[data-s='1'] {
  --icon: '';
  background-color: var(--tile);
}

.win #field > div[data-s='1'],
.win #field > div[data-s='3'] {
  --icon: '💣';
}

.lose #field > div[data-s='1'],
.lose #field > div[data-s='3'] {
  --icon: '💥';
  background-color: var(--tile);
}

.win #field > div[data-s='3'],
.lose #field > div[data-s='3'] {
  border: 1px solid #f8312f;
}

#field > div[data-s='2'],
#field > div[data-s='3'] {
  --icon: '🚩';
  background-color: var(--tile);
}

.win #field > div[data-s='1']::after,
.win #field > div[data-s='3']::after,
.lose #field > div[data-s='1']::after,
.lose #field > div[data-s='3']::after,
#field > div[data-s='2']::after,
#field > div[data-s='3']::after {
  font-size: calc(var(--size) * 0.6);
}

#field > div[data-s='4'] {
  --icon: '';
}

#field > div[data-s='5'] {
  --icon: '1';
  color: #3473df;
}

#field > div[data-s='6'] {
  --icon: '2';
  color: #3bff3b;
}

#field > div[data-s='7'] {
  --icon: '3';
  color: #ff1a1a;
}

#field > div[data-s='8'] {
  --icon: '4';
  color: #7faeff;
}

#field > div[data-s='9'] {
  --icon: '5';
  color: #ff7272;
}

#field > div[data-s='10'] {
  --icon: '6';
  color: #2a9494;
}

#field > div[data-s='11'] {
  --icon: '7';
  color: #ffffff;
}

#field > div[data-s='12'] {
  --icon: '8';
  color: #ff00b3;
}

.field {
  grid-area: field;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  height: 100%;
  width: 100%;

  padding: 4px;

  border-top: var(--border);
}

#field {
  display: grid;

  --cols: 10;
  --rows: 10;
  --size: 36px;

  border-left: var(--border);
  border-top: var(--border);

  grid-template-columns: repeat(var(--cols), var(--size));
  grid-template-rows: repeat(var(--rows), var(--size));
}

#middle {
  display: flex;
  justify-content: center;
  align-items: center;

  border-left: var(--border);
}

#status {
  font-family: 'Segoe UI Symbol';

  width: 48px;
  height: 48px;

  display: inline-block;
}

.lose #status {
  background-image: url('https://cdn.discordapp.com/emojis/1218937837488181319.webp');
  background-size: cover;
}

.win #status {
  background-image: url('https://cdn.discordapp.com/emojis/1155398292310593596.gif');
  background-size: cover;
}
